* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	background-image: url(Snowflake_Border_Frame_White_Transparent_PNG_Clip_Art.png),
		url(light-blue-gradient-blur-background-vector.jpg);
	background-repeat: repeat, repeat;
	background-size: cover, cover;
}

@font-face {
	font-family: "Balloony";
	src: url(Balloony.ttf);
}

.navigation {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	background-color: rgb(255, 0, 102);
}

.logo {
	grid-column: 1/2;
	grid-row: 1/2;
	display: flex;
	justify-content: center;
	align-content: center;
	background-color: rgb(72, 145, 237);
}

.nav-bar {
	grid-column: 2/4;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-content: center;
}
.nav-bar-text {
	margin: 1rem;
	padding: 1rem;
	text-decoration: none;
	font-family: Balloony;
	font-weight: 500;
	font-size: 3rem;
	cursor: pointer;
	color: white;
}
button {
	background-color: rgb(72, 145, 237);
	border-color: rgb(72, 145, 237);
	border-radius: 2rem;
	border-style: solid;
}

main {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(6, 0.25fr);
}

.menu-text {
	margin: 1rem;
	padding: 1rem;
	text-decoration: none;
	font-family: Balloony;
	font-weight: 500;
	font-size: 2rem;
	cursor: pointer;
	color: white;
}
.sub-menu-text {
	margin: 1rem;
	padding: 1rem;
	text-decoration: none;
	font-family: Balloony;
	font-weight: 500;
	font-size: 1.8rem;
	cursor: pointer;
	color: white;
}

.type-selection {
	display: flex;
	flex-direction: column;
	background-color: rgb(255, 0, 102);
	grid-column: 2/9;
	grid-row: 2/3;
	border-radius: 3rem;
	padding: 1rem;
	margin: 1rem;
	align-items: start;
}
.type-selection-form {
	align-self: flex-end;
}
/*
.type-selection-form > form {
	display: flex;
	flex-direction: row;
	justify-self: center;
}*/
.type-selection-form > form {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding: 3rem;
}
.cone {
	grid-column: 2/3;
}
.cup {
	grid-column: 3/4;
}
.type-reset {
	grid-column: 4/5;
}
.type-selection-images {
	border-radius: 3rem;
	padding: 1rem;
	margin: 1rem;
	grid-column: 9/12;
	grid-row: 2/3;
	background-color: rgb(255, 0, 102);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#cone-image {
	display: none;
	height: 20rem;
	width: 20rem;
}
#cup-image {
	display: none;
	height: 20rem;
	width: 20rem;
}

.flavour-selection {
	display: flex;
	flex-direction: column;
	background-color: rgb(255, 0, 102);
	grid-column: 2/12;
	grid-row: 3/4;
	border-radius: 3rem;
	padding: 1rem;
	margin: 1rem;
	align-items: start;
}
.flavour-selection-images {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}
#vanilla-img {
	display: none;
	grid-column: 2/3;
	height: 15rem;
	width: 15rem;
	margin: 1rem;
}
#chocolate-img {
	display: none;
	grid-column: 3/4;
	height: 15rem;
	width: 15rem;
	margin: 1rem;
}
#strawberry-img {
	display: none;
	grid-column: 4/5;
	height: 15rem;
	width: 15rem;
	margin: 1rem;
}
#banana-img {
	display: none;
	grid-column: 5/6;
	height: 15rem;
	width: 15rem;
	margin: 1rem;
}
#coffee-img {
	display: none;
	grid-column: 6/7;
	height: 15rem;
	width: 15rem;
	margin: 1rem;
}
/*
.flavour-selection-form {
	align-self: flex-end;
}
.flavour-selection-form > form {
	display: flex;
	flex-direction: row;
}*/

.flavour-selection-form > form {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	padding: 3rem;
}
.vanilla {
	grid-column: 2/3;
	display: flex;
	flex-direction: row;
}
.chocolate {
	grid-column: 3/4;
}
.strawberry {
	grid-column: 4/5;
}
.banana {
	grid-column: 5/6;
}
.coffee {
	grid-column: 6/7;
}
.flavour-reset {
	grid-column: 7/8;
	justify-self: end;
	align-self: flex-end;
}

.selection {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.selection:hover {
	border-style: solid;
	border-color: white;
	border-radius: 2rem;
	padding: 0.7rem;
	margin: 0.2rem;
}

.flavour-qty {
	display: none;
	background-color: rgb(72, 145, 237);
	width: 3.6rem;
	height: 2.3rem;
	border-radius: 2rem;
	margin-right: 2rem;
	color: white;
	font-family: Balloony;
	font-weight: 700;
	font-size: 1.4rem;
	text-align: center;
}

.footer-navigation {
	background-color: rgb(255, 0, 102);
	display: flex;
	justify-content: right;
	padding: 0.7rem;
	background-size: 1rem;
}
.footer-navigation > .nav-bar-text {
	font-size: 1.8rem;
}

@media (max-width: 1200px) {
	.flavour-selection-form > form {
		display: flex;
		flex-direction: column;
	}
	.nav-bar {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-content: center;
	}
}
